.book {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(151, 204, 204);
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #388e3c;
}
