.book-journey {
    background-color: rgb(151, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .book-journey h1 {
    font-size: 32px;
    margin-top: 0;
  }
  
  .book-journey img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .journey-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .journey-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
    flex-basis: 100%;
    text-align: center;
  }
  
  .journey-form label {
    font-size: 16px;
    margin-bottom: 5px;
    flex-basis: 100%;
  }
  
  .journey-form textarea {
    flex-basis: 100%;
    height: 15px;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .journey-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .journey-form button:hover {
    background-color: #3e8e41;
  }




  .book-journey-update {
    max-width: 600px;
    margin: auto;
  }
  
  .book-journey-update h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .book-journey-update img {
    display: block;
    margin: 1rem auto;
    max-width: 300px;
    height: auto;
  }
  
  .book-journey-update .journey-form {
    margin-top: 2rem;
  }
  
  .book-journey-update .journey-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .book-journey-update .journey-form label {
    display: block;
    margin-top: 1rem;
  }
  
  .book-journey-update .journey-form textarea {
    display: block;
    width: 100%;
    height: 6rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .book-journey-update .journey-form button {
    display: block;
    margin-top: 1rem;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .book-journey-update .journey-form button:hover {
    background-color: #006F8B;
  }
  .journey-form label {
    display: block;
    margin-top: 1rem;
  }
  
  .journey-form input[type="text"],
  .journey-form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
  }
  
  .journey-form textarea {
    height: 6rem;
  }
  